.images {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--static-space-16);
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}

.card {
  filter: grayscale(1);
  max-height: 450px;
  max-width: 350px;
  transition-duration: 0.25s;
  transition: ease-in;

  &:hover {
    filter: grayscale(0);
  }

  img {
    border-radius: 8px;
    height: 100%;
    object-fit: cover;
    object-fit: cover;
    transition: all 0.3s ease;
    width: 100%;

    &:hover {
      transform: scale(1.2);
    }
  }
}
