@font-face {
  font-family: "Eina";
  src: url("../fonts/eina-03-regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Eina";
  src: url("../fonts/eina-03-bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Eina";
  src: url("../fonts/eina-03-semibold.woff2");
  font-weight: semibold;
  font-style: normal;
}

:root {
  --background-color: #191a1a;
  --font-primary: Eina, Helvetica, sans-serif;
  --font-secondary: Eina, Helvetica, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-primary);
}
